.NewCard {
  background-color: #ED7063;
  border-radius: 10px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16);
  color: white;
  display: inline-block;
  margin: 0 20px 20px 0;
  padding: 5px 30px 30px 30px;
  width: 200px;
}

.NewCard label {
  display: block;
  margin: 10px 0 5px 0;
}

.NewCard button {
  margin-top: 18px;
  padding: 8px 10px;
}
